body {
  margin: 5px;
}

#footer {
  list-style-type: none;
  text-align: center;
}
#carouselExampleCaptions{
  margin-bottom: 40px;
}
.card-group {
  margin-bottom: 40px;
}
.navbar {
  padding-left: 10px;
}

